@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.foodTitle{
    font-family: 'Homemade Apple', cursive;
    color:rgb(212, 212, 212);
    font-size: 30px;
    text-transform:capitalize;
    
}

.hero__content{
    padding-top: 70px;
}
.hero__title{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    color:rgb(217, 218, 223);
    line-height: 62px;
}
h5, p {
    color:rgb(222, 223, 226);
    font-family: 'Archivo Black', sans-serif;
}
p{
    font-size: 12px;
}
span{
    color: rgb(252, 252, 42);
    text-decoration:wavy;
}

.food__category{
    background-color: rgb(14, 13, 13);
    text-align: center;
    margin-top: 30px;
    padding: 20px 0px;
}
.food__category, button {
border: none;
outline:none;
padding: 10px 20px;
border-radius: 5px;
}

@media only screen and (max-width:768px){
    .hero__content{
        justify-content: center;
        text-align: center;
        font-size:1rem;
        line-height: 25px;
    }
    h5{
        line-height: 12px;
        font-size: 0.6rem;
    }
    p{
        font-size: 0.7rem;
        line-height: 13px;
    }
    .hero__title{
        font-size: 1.5rem;
        line-height: 22px;
    }

    .food__category, button{
        padding: 5px 15px;
        font-size: .7rem;
        display: none;
    }
    .food__category{
        flex-wrap: wrap;
    }
}


@media only screen and (max-width:576px){
    .hero__content, h5{
        text-align: center;
        font-size:1rem;
    }
    .hero__content, p{
        font-size: 0.7rem;
        line-height: 15px;
    }
    .hero__title{
        font-size: 1.5rem;
        line-height: 30px;
    }
}