@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

.bg-about-us {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 100px;
  background: linear-gradient(to bottom, rgba(0 0 0 / 0.7), rgba(0 0 0 / 0.7)),
    url("https://img.freepik.com/foto-gratis/vista-lateral-plato-flameado-chef-masculino_23-2148763217.jpg?w=1060&t=st=1675112699~exp=1675113299~hmac=17b10cfee00a0556a2d1a725b8daa95e1ce3a291b55eaa832e20a194054197ac");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;
}

.name-restaurante {
  text-align: center;
  color: rgb(204, 202, 202);
  padding-bottom: 10%;
  font-size: 5rem;
  font-family: "Homemade Apple", cursive;
  text-shadow: 0 0 1px rgb(31, 31, 31);
  filter: drop-shadow(4px 6px 8px rgb(33, 33, 33));
}

.text-about-us {
  color: rgb(204, 202, 202);
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 140%;
}
