@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(69, 59, 41);
}
.flex {
    display: flex;
}

.sidebar {
    background-color: rgba(120, 107, 110, 0.57);
    width: 9rem;
    height: calc(100vh);
    border-right: 1px solid rgb(101, 97, 97);
}

.sidebar ul {
    list-style: none;
    padding: 1rem 2rem;
}

.sidebar li, a {
    margin-bottom: 1rem;
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
}

.sidebar li, a:hover {
    color: rgb(30, 22, 13);
}
.tableUser {
    text-align: center;
}
.headUser {
    color: rgb(245, 245, 245);
}

.headUser th {
    background-color: rgb(195, 39, 39);
}