@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(69, 59, 41);
}
/* .container {
    background-repeat: no-repeat;
    border-radius: 20px;
    object-fit: contain;
    width: 100vw;
    height: 100vh;
    margin: 0px;
} */
.flex {
    display: flex;
}

.sidebar {
    background-color: rgba(120, 107, 110, 0.57);
    width: 9rem;
    height: auto;
    border-right: 1px solid rgb(101, 97, 97);
}

.sidebar ul {
    list-style: none;
    padding: 1rem 2rem;
}

.sidebar li, a {
    margin-bottom: 1rem;
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
}

.sidebar li, a:hover {
    color: rgb(30, 22, 13);
}
.tableUser {
    text-align: center;
    width: 100%;
    max-height: 303px;
}

.table-responsive {
    max-height:  80vh;
    overflow-y: scroll;
}
.headUser {
    color: rgb(245, 245, 245);
    border-color: transparent;
}

.headUser th {
    background-color: rgb(12, 11, 11);
    border-radius: 20px;
    background: #861313;
}

.content {
    padding: 4rem;
}
.content h1 {
    color: aliceblue;
    margin-top: 18px;
}